.section__about {
    width: 55%;
    margin-top: 1.5rem;
}

.h1 {
    font-size: 3rem;
}

.h1__underline {
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
}

.highlight {
    font-size: 1.5rem;
}

p {
    margin-top: 2rem;
}

@media (max-width: 1080px) {
    .h1 {
        font-size: 2rem;
    }

    .h1__underline {
        position: relative;
        width: 100%;
        margin-top: 1.5rem;
    }

    .highlight {
        font-size: 1rem;
    }

    .section__about {
        width: 75%;
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .h1 {
        font-size: 2rem;
    }

    .h1__underline {
        position: relative;
        width: 100%;
        margin-top: 1.5rem;
    }

    .highlight {
        font-size: 1rem;
    }

    .section__about {
        width: 75%;
        font-size: 0.8rem;
    }
}

@media (max-width: 425px) {
    .h1 {
        font-size: 2rem;
    }

    .h1__underline {
        position: relative;
        width: 100%;
        margin-top: 1.5rem;
    }

    .highlight {
        font-size: 1rem;
    }

    .section__about {
        width: 75%;
        font-size: 0.8rem;
    }
}

@media (max-width: 425px) {
    .h1 {
        font-size: 2rem;
    }

    .h1__underline {
        position: relative;
        width: 100%;
        margin-top: 1.5rem;
    }

    .highlight {
        font-size: 1rem;
    }

    .section__about {
        width: 75%;
        font-size: 0.8rem;
    }
}
