.section__about {
    width: 55%;
    margin-top: 1.5rem;
}

.h1 {
    font-size: 3rem;
}

.h1__underline {
    position: fixed;
    width: 20rem;
    margin-top: 1.5rem;
}

.highlight {
    margin-top: 4rem;
    font-size: 1.5rem;
}

.summary {
    margin-top: 2rem;
}

.projects {
    margin-top: 2rem;
}

.currently {
    margin-top: 2rem;
}

.interests {
    margin-top: 2rem;
}

.delta {
    margin-top: 2rem;
}

.goodbye {
    text-align: right;
    margin-top: 4rem;
}
