.Home {
    text-align: center;
}

.About {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--primary-text-color);
    line-height: 2rem;
    height: 85vh;
    max-height: 100%;
    color: var(--primary-text-color);
}
