@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
    --main-bg-color: #424b54;
    --secondary-bg-color: #000100;
    --primary-text-color: #ffffff;
    --secondary-text-color: #ee6c4d;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
