@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-weight: normal;
      font-display: swap;
      font-family: 'Quicksand';
      src: url('../components/fonts/Quicksand-VariableFont_wght.ttf');
    }

    @font-face {
        font-weight: normal;
        font-display: swap;
        font-family: 'Rightism';
        src: url('../components/fonts/RightismDemoRegular.ttf');
    }

    html,
    body {
    @apply bg-primary;
  }

    .neon-outline {
      text-shadow:  -1.5px 2px 2px #2ec4b6,
                    2px 2px 2px #2ec4b6,
                    2px -1.5px 0 #2ec4b6,
                    -1.5px -1.5px 0 #2ec4b6;
    }
}