.hero {
    display: flex;
    justify-content: space-between;
    height: 550px;
    background-color: #000100;
    color: white;
}

.section {
    margin: 4rem 0px 0px 3rem;
    font-size: 25px;
}

.description {
    font-size: 18px;
    line-height: 1.5;
}

.social {
    color: #2d3033;
    font-size: 30px;
}

.socialLink {
    text-decoration: none;
    font-size: 20px;
    padding-right: 10px;
    color: white;
}
