.recent__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.recent__blog {
    height: 400px;
    width: 100%;
    color: white;
    background-color: #2d3033;
}

.recent__project {
    height: 400px;
    width: 100%;
    color: white;
    background-color: #000100;
}
